#include "resource.h"


STRINGTABLE
BEGIN
    IDS_FOODNUMBER, "Number : %i"
END



IDI_ICON ICON DISCARDABLE "linux_icon.ico"
IDR_MYMENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Exit", ID_FILE_EXIT
    END

    POPUP "About"
    BEGIN
        MENUITEM "About", ID_STUFF_ABOUT
    END

    POPUP "Event"
    BEGIN
        MENUITEM "R&ed Font", ID_EVENT_RED
        MENUITEM "G&reen Font", ID_EVENT_GREEN
        MENUITEM "Blue Font", ID_EVENT_BLUE
    END

END

ID_ACCELERATOR ACCELERATORS
BEGIN
    "^R", ID_EVENT_RED, ASCII, NOINVERT
END


