#include "resource.h"

IDI_ICON ICON DISCARDABLE "linux_icon.ico"
IDR_MYMENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Exit", ID_FILE_EXIT
    END

    POPUP "About"
    BEGIN
        MENUITEM "About", ID_STUFF_ABOUT
    END

    POPUP "Event"
    BEGIN
        MENUITEM "Red Font", ID_EVENT_RED
        MENUITEM "Green Font", ID_EVENT_GREEN
        MENUITEM "Blue Font", ID_EVENT_BLUE
    END
END


